<form class="{{cssClass}} flexcol" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header">
		{{!-- Header stuff goes here --}}
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" data-dtype="String" type="text" value="{{data.details.name}}" placeholder="Name" /></h1>
			{{!-- <div class="resources grid grid-2col"></div> --}}
			<div class="attributes grid grid-3col">
				{{#each data.attributes as |attr key|}}
				<div class="attribute">
					<label>{{uppercase key}}</label>
					<input type="text" data-dtype="Number" name="data.attributes.{{key}}.dice" value="{{calcd6 attr.dice}}"/>
					<span>D + </span>
					<input type="text" data-dtype="Number" name="data.attributes.{{key}}.pips" value="{{calcpips attr.pips}}"/>
				</div>
				{{/each}}
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">Description</a>
		<a class="item" data-tab="items">Items</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Tab content goes here --}}
	</section>
</form>
